﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render(@"~\Scripts\jqueryui\jquery-ui.css")
@Styles.Render(@"~\Scripts\jqueryui\jquery-ui.structure.js")
@Styles.Render(@"~\Scripts\jqueryui\jquery-ui.theme.js")

@Styles.Render(@"~\Content\Index.css")

<script type="text/html" id="card-template">
    <div class="failed card ui-widget-content ui-corner-all">
        <div class="build-title ui-widget-header ui-corner-all">NIA Main Full Build</div>
        <div class="build-status">
            <div class="error-icon"></div>
            <span class="status-text">Failed</span>
            <div class="error-icon"></div>
        </div>
        <div class="rebuilding" style="display: none"><marguee>(Build In Progress)</marguee></div>
        <div class="status-for">Failing for 3.45 days</div>
        <div class="culprits">Culprits: Nathan, Jordan, Eric, Sekou, Rui</div>
    </div>
</script>

<script type="text/html" id="overview-template">
    <div class="card ui-widget-content ui-corner-all">
    </div>
</script>

<script type="text/html" id="overview-item-template">
    <div class="overview-item">
        <div class="build-title">NIA Main Full Build</div>
        <div class="build-status status-text">Failed</div>
        <div class="rebuilding">(Build In Progress)</div>
    </div>
</script>

@section scripts{
    @Scripts.Render(@"~\Scripts\jqueryui\jquery-ui.js")

    <script type="text/javascript">

        var cards = [];

        function getBuilds() {
            return $.ajax({
                url: "@Url.Content("~/api/Builds")"
            }).done(function (builds) {

                var overviewCard = $($("#overview-template").html());
                var overviewEntriesLeft = 5;

                for (var i in builds) {
                    var build = builds[i];

                    var overviewEntry = $($("#overview-item-template").html());
                    var newCard = $($("#card-template").html());
                    cards.push(newCard);

                    newCard.find(".build-title").text(build.Name);
                    overviewEntry.find(".build-title").text(build.Name);
                    newCard.removeClass("failed");
                    newCard.removeClass("passed");

                    if (build.IsRebuilding) {
                        newCard.find(".rebuilding").show();
                    } else {
                        overviewEntry.find(".rebuilding").text("");
                    }

                    if (build.BuildState === 0) {
                        newCard.addClass("passed");
                        overviewEntry.addClass("passed");
                        newCard.find(".status-text").text("Passed");
                        overviewEntry.find(".status-text").text("Passed");
                        newCard.find(".status-for").text("Passing for " + build.StatusFor);
                    }
                    else if (build.BuildState === 1) {
                        newCard.addClass("failed");
                        overviewEntry.addClass("failed");
                        newCard.find(".status-text").text("Failed");
                        overviewEntry.find(".status-text").text("Failed");
                        newCard.find(".status-for").text("Failing for " + build.StatusFor);
                        newCard.find(".culprits").text(build.Culprit === "" ? "" : "Culprit: " + build.Culprit);
                    }
                    else {
                        newCard.find(".status-text").text("Unkown");
                        overviewEntry.find(".status-text").text("Unkown");
                        newCard.find(".status-for").text("Unknown for " + build.StatusFor);
                    }

                    if (overviewEntriesLeft-- > 0) {
                        overviewCard.append(overviewEntry);
                    }

                    newCard.hide();
                    $(".container").append(newCard);
                }

                cards.push(overviewCard);
                overviewCard.hide();
                $(".container").append(overviewCard);
            })
        }

        $(function () {
            getBuilds().done(function () {

                var i = 0;

                var tick = function () {
                    var shownew = function (ind, done) {
                        cards[ind].show("slide", { direction: "left" }, 1000, done);
                    }

                    if (i < cards.length) {
                        if (i != 0) {
                            var ind = i;
                            shownew(ind, function () { cards[ind - 1].hide(); });
                        } else {
                            shownew(i);
                        }
                    } else {
                        // Get new cards
                        var oldCards = cards;
                        cards = [];
                        i = 0;

                        getBuilds().done(function () {
                            oldCards[oldCards.length - 1].hide("slide", { direction: "right" }, 500,
                                function () {
                                    shownew(0);

                                    for (var x in oldCards) {
                                        oldCards[x].remove();
                                    }
                                });
                        });
                    }

                    i++;
                };

                tick();

                window.setInterval(tick, 15000);
            }).error(function () {
                window.setInterval(tick, 15000);
            });

        })

    </script>
}