﻿@model BlameWall.Models.BlameViewModel
@section doctype{
    <!DOCTYPE html>
}
@{
    ViewBag.Title = "Blame";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Blame</h2>

@using (Html.BeginForm())
{
    <table>
        <tbody>
            @if (Model.Blames != null)
            {
                var blames = Model.Blames.ToArray();
                foreach (var blame in blames)
                {
                    int index = Array.IndexOf(blames, blame);
                    <tr>
                        <td>
                            @Html.Hidden($"Blames[{index}].BuildName", blame.BuildName)
                            @Html.Label(blame.BuildName)
                        </td>
                        <td>
                            <input list="@index" type="text" name="Blames[@index].CulpritName" title="Culprit" placeholder="Culprit" value="@blame.CulpritName" />
                            <datalist id="@index">
                                @if (blame.PossibleCulprits != null)
                                {
                                    foreach (var possible in blame.PossibleCulprits)
                                    {
                                        <option value="@possible"/>
                                    }
                                }
                            </datalist>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <br />

        <input type="submit" value="Lay Blame"  />
}