﻿.container {
    position: absolute;
    top: 2%;
    bottom: 2%;
    left: 2%;
    right: 2%;
}

.card {
    border-width: 10px;
    background-color: white;
    height: 97%;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-color: gray
}

    .card.passed {
        border-color: limegreen;
    }

    .card.failed {
        border-color: #D61F33;
    }

.build-title {
    font-size: 100pt;
    text-align: center;
}

.build-status {
    position: relative;
    height: 120pt;
    text-align: center;
    font-family: monospace;
    font-weight: bold;
    font-size: 120pt;
    margin-top: 2%;
    color: black;
}

.failed .build-status {
    color: #D61F33;
}

.passed .build-status {
    color: limegreen;
}

.rebuilding {
    font-size: 32pt;
    text-align: center;
    color: gray;
    font-style: italic;
}

.status-for {
    font-size: 50pt;
    text-align: center;
    color: grey;
    font-weight: bold;
    font-family: monospace;
}

.passed .status-for {
    color: green;
}

.failed .status-for {
    color: #D61F33;
}

.culprits {
    font-size: 72pt;
    text-align: center;
    color: black;
    margin-top: 20pt;
    display: none;
}

.failed .error-icon {
    display: block;
}

.error-icon {
    background-image: url("fail.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 90pt;
    margin-top: 30pt;
    display: none;
}

    .error-icon:first-of-type {
        left: 50px;
    }

    .error-icon:last-of-type {
        right: 50px;
    }

.failed .culprits {
    display: block;
}

.overview-item {
    height: 20%;
}

.overview-item > div {
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
}

.overview-item > .build-title{
    font-size: 48pt;
    margin-right: 20px;
    margin-left: 10px;
    max-width: 70%;
}

.overview-item > .build-status{
    float: right;
    margin-right: 5%;
    margin-top: 8pt;
    font-size: 40pt;
    height: unset;
}

.overview-item > .rebuilding{
    font-size: 24pt;
    display: block;
    margin: 0 6%;
    padding-bottom: 20px;
    border-bottom: 3px solid lightgrey;
}

body {
}
