﻿@model BlameWall.Models.Configuration.Configuration

@{
    ViewBag.Title = "Configure";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Configure</h2>

@using (Html.BeginForm(new { reload = false }))
{
    if (!String.IsNullOrWhiteSpace(Model.JenkinsUrl))
    {
        @Html.ActionLink("Reload Jobs from " + Model.JenkinsUrl, "Index", new { reload = true });
    }
    <table>
        <tbody>
            <tr>
                <td>
                    @Html.LabelFor(m => m.JenkinsUrl)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.JenkinsUrl)
                </td>
            </tr>
        </tbody>
    </table>

    if (!String.IsNullOrWhiteSpace(Model.JenkinsUrl))
    {
        <label>Indexes 1-5 will be shown on the overview card</label>
        <table>
            <thead>
                <tr>
                    <th>Show</th>
                    <th>Name</th>
                    <th>Display Name</th>
                    <th>Index</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Jobs != null)
                {
                    var jobs = Model.Jobs?.ToArray();
                    foreach (var job in jobs.OrderBy(j => $" {!j.Displayed} {j.Index} {j.RealName}"))
                    {
                        int index = Array.IndexOf(jobs, job);
                        <tr>
                            <td>
                                @Html.CheckBox($"Jobs[{index}].Displayed", job.Displayed, new { id = "d" + index })
                            </td>
                            <td>
                                @Html.Hidden($"Jobs[{index}].RealName", job.RealName)
                                @Html.Hidden($"Jobs[{index}].Url", job.Url)
                                <label>@job.RealName:</label>
                            </td>
                            <td>
                                <input name="Jobs[@index].DisplayName" type="text" value="@job.DisplayName" title="Display name" placeholder="Display Name" />
                            </td>
                            <td>
                                <input name="Jobs[@index].Index" type="number" value="@job.Index" title="Index" placeholder="Index" />
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
    <br />

    <input type="submit" value="Save" />
}